@model AlgoUni.Models.CollegeExamNotice

@{
    ViewBag.Title = "CollegeNotifyDetails";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<h2>CollegeNotifyDetails</h2>

<div>
    <h4>CollegeExamNotice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TutionFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TutionFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnivCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnivCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollegeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CollegeNotifyEdit", new { id = Model.CollegeExamNoticeID }) |
    @Html.ActionLink("Back to List", "CollegeNotifyIndex")
</p>
